#block-system-main {
  h3 {
    margin-top:-.75em; 
    margin-left:-.5em;
  }
  div.admin .left {
    width:47%;
    float:left;
  }

  div.admin .right {
    width:47%;
    float:right;
  }

  div.admin-panel {
    @extend .well;
  } 
}

.admin-list, .node-type-list {
  @extend .dl-horizontal;
}

#block-system-help .content {
  @extend .alert;
}


#admin-dblog {

  .dblog-notice,
  .dblog-notice td {

  }

  .dblog-info,
  .dblog-info td {
    @extend .alert-info;
  }

  .dblog-warning,
  .dblog-warning td {
    @extend .alert;
  }
  .dblog-error,
  .dblog-error td {
    @extend .alert-error;
  }

}

