
#skip {
  display:none;
}

#page {
  @extend .container-fluid;
}

#banner {
  #secondary-menu {
    float:right;
  }
}

#main-wrapper {
  @extend .row-fluid;

  #sidebar-first {
    @extend .span2;
  }

  #content-wrapper {
    @extend .span10;
  }
}

