div.messages {
  @extend .alert;
  background-image:none;
  &.error {
    @extend .alert-error;
    background-image:none;
  }
  &.status {
    @extend .alert-success;
    background-image:none;
  }
}


.marker {
  @extend .label;
  @extend .label-info;
}

#content-inner .admin > div {
  @extend .row-fluid;
  
  @extend .span12;
}

