.tabs {
  @extend .nav;
  @extend .nav-tabs;
}

.menu {
  @extend .nav;
}

.links {
  @extend .nav;
}

.links.inline {
  @extend .nav;
  @extend .nav-pills;
}

.action-links {
  @extend .nav;
  @extend .nav-pills;
}


#main-menu {
  @extend .nav-bar;
  @extend .nav-bar-fixed-top;
  li.expanded {
    @extend .dropdown;
    a:hover {
      color:#fff !important;
    }
    .menu {
      display:none;
      @extend .dropdown-menu;
      left:0;
      li {
        float:none;
      }
    }
    &:hover > .menu {
      display:block;
    }
  }
}

.block-menu {
  /*.title {
    @include hide-text;
  }*/

  .menu {
    @extend .nav;
    @extend .nav-tabs;
    @extend .nav-stacked;
    > li > a {
      border:1px solid #000 !important;
      border-color: $grayLighter $grayLighter #ddd !important;
    }
    .menu {
      margin-left:.5em;
      margin-top:.5em;
    }
  }
}

