table {
  @extend .table;
  @extend .table-striped;
  //@extend .table-bordered;
}

table td {
  vertical-align:middle;
}

table.system-status-report {
  tr.ok td.status-value {
    @extend .alert-success;
  }

  tr.warning td.status-value {
    @extend .alert;
  }

  tr.info td.status-value {
    @extend .alert-info;
  }


  td.status-title {
    font-weight:bold;
  }
}
