// Core variables and mixins
@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins";

// CSS Reset
@import "bootstrap/reset";

// Grid system and page structure
@import "bootstrap/scaffolding";
@import "bootstrap/grid";
@import "bootstrap/layouts";

// Base CSS
@import "bootstrap/type";
@import "bootstrap/code";
//@import "bootstrap/forms";
@import "bootstrap/tables";

// Components: common
@import "bootstrap/sprites";
@import "bootstrap/dropdowns";
@import "bootstrap/wells";
//@import "bootstrap/component-animations";
//@import "bootstrap/close";

// Components: Buttons & Alerts
@import "bootstrap/buttons";
@import "bootstrap/button-groups";
@import "bootstrap/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";

// Components: Popovers
@import "bootstrap/modals";
@import "bootstrap/tooltip";
//@import "bootstrap/popovers";

// Components: Misc
//@import "bootstrap/thumbnails";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/progress-bars";
//@import "bootstrap/accordion";
//@import "bootstrap/carousel";
//@import "bootstrap/hero-unit";

// Utility classes
@import "bootstrap/utilities"; // Has to be last to override when necessary

/* fixes */
.row-fluid > .span:first-child {
  margin-left:0;
}

.span {
  float: left;
  margin-left: $fluidGridGutterWidth;
}

/* drupal specific */
@import "nav";
@import "layout";
@import "forms";
@import "admin"; // comment out if not using admin
@import "tables";
@import "misc";

